.Nav-main {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin: 0;
  &__item {
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
  &-wrap {
    position: relative;
    margin-top: $base_spacing;
    // margin-left: $base_spacing;
  }
  @media screen and (min-width: $bp3) {
    display: flex;
  }
}

.toggle-btn {
  position: fixed;
  right: $base_spacing;
  background-color: $color_alt;
  @media screen and (min-width: $bp3) {
    display: none;
  }
}

.active {
  opacity: .5;

  &.toggle-btn {
    transition-property: all;
    transition-duration: .3s;
    transform: rotate(45deg);

    & + .Nav-main {
      position: fixed;
      top: $base_spacing * 2;
      right: $base_spacing;
      display: inherit;
      // background-color: $color-white-alpha;
      @media screen and (min-width: $bp3) {
        position: inherit;
      }
    }
  }
}
