.Social {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  // margin-bottom: 0;
  list-style: none;
  &__item {
    line-height: 1.7;
    margin-right: $base_spacing / 2;
    margin-bottom: 0;
  }
}
