.icon-logo {
  stroke: $color-black;
  fill: none;
  // width: 49px;
}
.icon-logo-sf {
  fill: $color-black;
  width: 30px;
  .Site__footer & {
    width: 10px;
  }
}
.icon-email {
  fill: $color-base;
  width: 40px;
  height: 20px;
}
.icon-cc {
  fill: $color-base;
  width: 50px;
  height: 12px;
}
