.icon-logo {
  stroke: $color-black;
  fill: none;
  width: 70px;
}
.icon-email {
  fill: $color-base;
  width: 40px;
  height: 20px;
}
.icon-cc {
  fill: $color-base;
  width: 50px;
  height: 12px;
}
