
.Site {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  max-width: $bp1;
  margin-left: auto;
  margin-right: auto;
  &__section {
    display:flex;
    flex-wrap: wrap;
    &__article > h2,
    &__article > h4,
    &__article > small,
    &__article > figure figcaption,
    &__article > p, {
      padding-left: $base_spacing;
      padding-right: $base_spacing;
    }
    &__article small {
      display: block; // ??
    }
    &--works {
      // background-color: red;
    }
    &--blog {
      // background-color: blue;
    }
    &--services {
      // background-color: yellow;
    }
  }
  &__section__header { //Encabezados de secciones
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    // min-height: 200px;
    background-color: $color-black;
    h1 {
      text-align: center;
      padding: $base_spacing;
      color: $color-white;
      margin-bottom: 0;
    }
  }
  &__section__header--home {
    background-color: $color-base;
    h1 {
      color: $color-white;
    }
  }

  &__logo {
    display: block;
    padding: $base_spacing;
    width: 70px;
    height: 70px;
    background-color: $color-alt;
  }

  &__name {
    display: none;
  }

  &__description {
    display: none;
    font-size: 65%;
    width: 50px;
    margin-top: 0;
    margin-right: 0;
    line-height: 1.3;
    font-weight: normal;
    letter-spacing: 1px;
  }

  &__header {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // line-height: 1;
    // width: 100%;
    // height: 50px;
    // flex: 0 100px;
  }

  &__footer {
    width: 100%;
    background-color: $color-black;
    padding: $base_spacing;
    font-size: 80%;
    line-height: 1;
    align-self: center;
    align-content: flex-end;
    // margin-top: $base_spacing;
    color: $color-white;
    h3 {
      margin-top: 0
    }
    a {
      color: $color-alt;
      &:hover {
        color: $color_white;
      }
    }
  }
}
